ArtConnectPro-App/src/main/java/com/project/artconnect/config/DatabaseConfig.java
ArtConnectPro-App/src/main/java/com/project/artconnect/config/DatabaseConfig.java
ArtConnectPro-App/src/main/java/com/project/artconnect/config/DatabaseConfig.java
ArtConnectPro-App/target/classes/com/project/artconnect/config/DatabaseConfig.class
ArtConnectPro-App/target/classes/com/project/artconnect/dao/ArtistDao.class
ArtConnectPro-App/src/main/java/com/project/artconnect/config/DatabaseConfig.java
ArtConnectPro-App/target/classes/com/project/artconnect/dao/ArtworkDao.class
ArtConnectPro-App/target/classes/com/project/artconnect/dao/CommunityMemberDao.class
ArtConnectPro-App/target/classes/com/project/artconnect/dao/ExhibitionDao.class
ArtConnectPro-App/target/classes/com/project/artconnect/dao/GalleryDao.class
ArtConnectPro-App/target/classes/com/project/artconnect/dao/WorkshopDao.class
ArtConnectPro-App/target/classes/com/project/artconnect/MainApp.class
ArtConnectPro-App/target/classes/com/project/artconnect/model/Artist.class
ArtConnectPro-App/target/classes/com/project/artconnect/model/Artwork.class
ArtConnectPro-App/target/classes/com/project/artconnect/model/Artwork$Status.class
ArtConnectPro-App/target/classes/com/project/artconnect/model/Booking.class
ArtConnectPro-App/target/classes/com/project/artconnect/model/Discipline.class
ArtConnectPro-App/target/classes/com/project/artconnect/model/Exhibition.class
ArtConnectPro-App/target/classes/com/project/artconnect/model/Review.class
ArtConnectPro-App/target/classes/com/project/artconnect/persistence/JdbcArtistDao.class
ArtConnectPro-App/target/classes/com/project/artconnect/persistence/JdbcArtworkDao.class
ArtConnectPro-App/target/classes/com/project/artconnect/persistence/JdbcExhibitionDao.class
ArtConnectPro-App/target/classes/com/project/artconnect/persistence/JdbcGalleryDao.class
ArtConnectPro-App/target/classes/com/project/artconnect/persistence/JdbcWorkshopDao.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/ArtworkService.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/CommunityService.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/impl/InMemoryArtistService.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/impl/InMemoryArtworkService.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/impl/InMemoryGalleryService.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/impl/InMemoryWorkshopService.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/impl/JdbcArtistService.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/impl/JdbcArtworkService.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/impl/JdbcCommunityService.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/impl/JdbcGalleryService.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/impl/JdbcWorkshopService.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/WorkshopService.class
ArtConnectPro-App/target/classes/com/project/artconnect/ui/ArtistController.class
ArtConnectPro-App/target/classes/com/project/artconnect/ui/ArtworkController.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/impl/InMemoryCommunityService.class
ArtConnectPro-App/target/classes/com/project/artconnect/ui/CommunityController.class
ArtConnectPro-App/target/classes/com/project/artconnect/ui/DiscoverController$1.class
ArtConnectPro-App/target/classes/com/project/artconnect/ui/DiscoverController$2.class
ArtConnectPro-App/target/classes/com/project/artconnect/ui/DiscoverController.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/GalleryService.class
ArtConnectPro-App/target/classes/com/project/artconnect/ui/ExhibitionController.class
ArtConnectPro-App/target/classes/com/project/artconnect/ui/GalleryController$1.class
ArtConnectPro-App/target/classes/com/project/artconnect/ui/GalleryController.class
ArtConnectPro-App/target/classes/com/project/artconnect/ui/MainController.class
ArtConnectPro-App/target/classes/com/project/artconnect/ui/WorkshopController.class
ArtConnectPro-App/target/classes/com/project/artconnect/service/ArtistService.class
ArtConnectPro-App/target/classes/com/project/artconnect/persistence/JdbcCommunityMemberDao.class
ArtConnectPro-App/target/classes/com/project/artconnect/model/Workshop.class
ArtConnectPro-App/target/classes/com/project/artconnect/model/Gallery.class
ArtConnectPro-App/target/classes/com/project/artconnect/util/ConnectionManager.class
ArtConnectPro-App/target/classes/com/project/artconnect/util/prj.class
ArtConnectPro-App/target/classes/com/project/artconnect/util/ServiceProvider.class
ArtConnectPro-App/target/classes/com/project/artconnect/model/CommunityMember.class
ArtConnectPro-App/target/classes/com/project/artconnect/model/ArtworkTag.class
ArtConnectPro-App/src/main/java/com/project/artconnect/config/DatabaseConfig.java
/ArtConnectPro-App/src/main/java/com/project/artconnect/config
